
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="https://static.libsyn.com/p/assets/9/0/e/7/90e734504fecaf2e/Write_icon.png">
  <link rel="icon" type="image/png" src = "photos/download.png" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header ">
          <p class="navbar-brand">COMPOSE NOTE</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/about">ABOUT US</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
            <div class="dropdown">
                <button class="dropbtn">Account⇩</button>
            <div class="dropdown-content">
                <a href="/profile">View Profile </a>
                <a href="/compose">Compose</a>
                <a href="/login">Sign out</a>
           </div>
         </div>
        </ul>
      </div>
    </nav>

<div class="container">

<div class="about-section">
  <h1> ABOUT US </h1>
  <p><%= about %></p>
  <p>Please go ahead and start composing your note!</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="card">
  <img src="/photos/ashis.jpg" alt="John" style="width:100%">
  <h2 style="color:green">Ashish Singh</h2>
  <p style="color:green" class="title">ashish614931@gmail.com</p>
  <p style="color:green">9919368203</p>
</div>

</body>
