<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="https://static.libsyn.com/p/assets/9/0/e/7/90e734504fecaf2e/Write_icon.png">
  <link rel="icon" type="image/png" src = "photos/download.png" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header ">
          <p class="navbar-brand">COMPOSE NOTE</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/about">ABOUT US</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
            <div class="dropdown">
                <button class="dropbtn">Account⇩</button>
            <div class="dropdown-content">
                <a href="/profile">View Profile </a>
                <a href="/compose">Compose</a>
                <a href="/login">Sign out</a>
           </div>
         </div>
        </ul>
      </div>
    </nav>

<div class="container">

<h1>Compose</h1>
<div class="form-group">
  <form class="" action="/compose" method="post">
  <h5><b>Title</b></h5>
  <input type="text" name="titleinput" class="form-control" value="">


  <h5><b>Post</b></h5>
  <textarea class="form-control" id="w3mission" name="posthome" rows="8" cols="150"> </textarea>
</div>
  <button class="btn btn-primary btncss" type="submit" name="button" >Publish</button>
  <button class="btn btn-primary btncss" onclick="document.location='/'">Back</button>

  </form>
</div>
</body>
